<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <base href="@Url.Content("~")" />

    <script src="~/Content/Vendor/jquery-3.1.0.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/Content/ExemplosRPC.js"></script>
</body>
</html>